<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
            <typeAlias type="com.bean.Cart" alias="Cart"/>
            <typeAlias type="com.bean.Item" alias="Item"/>
            <typeAlias type="com.bean.User" alias="User"/>
            <typeAlias type="com.bean.Other" alias="Other"/>
        </typeAliases>
</configuration>